<p><input type='search' class='form-control' placeholder='Search' ng-model='query' /></p>
<table class='table table-hover table-bordered'>
	<thead>
			<tr>
				<th ng-repeat='(k, v) in fields | filter: !v[1] ' ng-click='sort(v[0])'>
					{{ v[0] | labelCase }}
					<span ng-show='sort.v[0] === v[0] && !sort.order' class='glyphicon glyphicon-chevron-down'></span>
					<span ng-show='sort.v[0] === v[0] && sort.order' class='glyphicon glyphicon-chevron-up'></span>
				</th>
			</tr>
	</thead>
	<tbody>
		<tr ng-click='show(contact.$id)' ng-repeat='contact in contacts | filter: query | filter: {userName:email} | orderBy: sort.field : sort.order'>
			<td ng-repeat='(k,v) in fields | filter: !v[1]'>
				{{ contact[v[0]][0] }}
			</td>
		</tr>
	</tbody>
</table>